@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #6DB89E; }

#chart {
  font-size: 20px; }

#title {
  margin: 0;
  color: #1F106F;
  text-align: center;
  font-family: "Roboto", sans-serif; }

#tooltip {
  position: absolute;
  width: 200px;
  padding: 1rem;
  border-radius: 1rem;
  opacity: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  color: #D2CE0A;
  font-family: "Roboto", sans-serif;
  text-align: center;
  transition: 0.4s opacity;
  pointer-events: none; }

.bar {
  fill: #1F106F; }
  .bar:hover {
    fill: #BBA400; }

.chart-container {
  padding: 2em;
  border-radius: 10px;
  box-shadow: 5px 5px 25px 10px rgba(0, 0, 0, 0.3);
  background-color: #5F97D9; }

.tick {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoibWFpbi5jc3MiLCJzb3VyY2VzIjpbIm1haW4uc2NzcyJdLCJzb3VyY2VzQ29udGVudCI6WyJAaW1wb3J0IHVybCgnaHR0cHM6Ly9mb250cy5nb29nbGVhcGlzLmNvbS9jc3M/ZmFtaWx5PVJvYm90bycpO1xuXG4kbWFpbi1mb250OiBcIlJvYm90b1wiLCBzYW5zLXNlcmlmO1xuXG5odG1sLCBib2R5IHtcbiAgZGlzcGxheTogZmxleDtcbiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gIHdpZHRoOiAxMDAlO1xuICBoZWlnaHQ6IDEwMCU7XG5cbiAgbWFyZ2luOiAwO1xuXG4gIGJhY2tncm91bmQtY29sb3I6ICM2REI4OUU7XG59XG5cbiNjaGFydCB7XG4gIGZvbnQtc2l6ZTogMjBweDtcbn1cblxuI3RpdGxlIHtcbiAgbWFyZ2luOiAwO1xuXG4gIGNvbG9yOiAjMUYxMDZGO1xuXG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgZm9udC1mYW1pbHk6ICRtYWluLWZvbnQ7XG59XG5cbiN0b29sdGlwIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuXG4gIHdpZHRoOiAyMDBweDtcbiAgcGFkZGluZzogMXJlbTtcbiAgYm9yZGVyLXJhZGl1czogMXJlbTtcbiAgb3BhY2l0eTogMDtcbiAgYm94LXNoYWRvdzogMnB4IDJweCA1cHggcmdiYSgwLDAsMCwwLjMpO1xuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuXG4gIGJhY2tncm91bmQtY29sb3I6IHJnYmEoMCwwLDAsMC41KTtcbiAgY29sb3I6ICNEMkNFMEE7XG5cbiAgZm9udC1mYW1pbHk6ICRtYWluLWZvbnQ7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcblxuICB0cmFuc2l0aW9uOiAwLjRzIG9wYWNpdHk7XG4gIHBvaW50ZXItZXZlbnRzOiBub25lO1xufVxuXG4uYmFyIHtcbiAgZmlsbDogIzFGMTA2RjtcblxuICAmOmhvdmVyIHtcbiAgICBmaWxsOiAjQkJBNDAwO1xuICB9XG59XG5cbi5jaGFydC1jb250YWluZXIge1xuICBwYWRkaW5nOiAyZW07XG4gIGJvcmRlci1yYWRpdXM6IDEwcHg7XG4gIGJveC1zaGFkb3c6IDVweCA1cHggMjVweCAxMHB4IHJnYmEoMCwwLDAsMC4zKTtcblxuICBiYWNrZ3JvdW5kLWNvbG9yOiAjNUY5N0Q5O1xufVxuXG4udGljayB7XG4gIGZvbnQtc2l6ZTogMC44cmVtO1xuICBmb250LWZhbWlseTogJG1haW4tZm9udDtcbn1cbiJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxPQUFPLENBQUMscURBQUk7QUFJWixBQUFBLElBQUksRUFBRSxJQUFJLENBQUM7RUFDVCxPQUFPLEVBQUUsSUFBSTtFQUNiLGVBQWUsRUFBRSxNQUFNO0VBQ3ZCLFdBQVcsRUFBRSxNQUFNO0VBQ25CLEtBQUssRUFBRSxJQUFJO0VBQ1gsTUFBTSxFQUFFLElBQUk7RUFFWixNQUFNLEVBQUUsQ0FBQztFQUVULGdCQUFnQixFQUFFLE9BQU8sR0FDMUI7O0FBRUQsQUFBQSxNQUFNLENBQUM7RUFDTCxTQUFTLEVBQUUsSUFBSSxHQUNoQjs7QUFFRCxBQUFBLE1BQU0sQ0FBQztFQUNMLE1BQU0sRUFBRSxDQUFDO0VBRVQsS0FBSyxFQUFFLE9BQU87RUFFZCxVQUFVLEVBQUUsTUFBTTtFQUNsQixXQUFXLEVBeEJELFFBQVEsRUFBRSxVQUFVLEdBeUIvQjs7QUFFRCxBQUFBLFFBQVEsQ0FBQztFQUNQLFFBQVEsRUFBRSxRQUFRO0VBRWxCLEtBQUssRUFBRSxLQUFLO0VBQ1osT0FBTyxFQUFFLElBQUk7RUFDYixhQUFhLEVBQUUsSUFBSTtFQUNuQixPQUFPLEVBQUUsQ0FBQztFQUNWLFVBQVUsRUFBRSxHQUFHLENBQUMsR0FBRyxDQUFDLEdBQUcsQ0FBQyxrQkFBZTtFQUN2QyxVQUFVLEVBQUUsVUFBVTtFQUV0QixnQkFBZ0IsRUFBRSxrQkFBZTtFQUNqQyxLQUFLLEVBQUUsT0FBTztFQUVkLFdBQVcsRUF4Q0QsUUFBUSxFQUFFLFVBQVU7RUF5QzlCLFVBQVUsRUFBRSxNQUFNO0VBRWxCLFVBQVUsRUFBRSxZQUFZO0VBQ3hCLGNBQWMsRUFBRSxJQUFJLEdBQ3JCOztBQUVELEFBQUEsSUFBSSxDQUFDO0VBQ0gsSUFBSSxFQUFFLE9BQU8sR0FLZDtFQU5ELEFBR0UsSUFIRSxBQUdELE1BQU0sQ0FBQztJQUNOLElBQUksRUFBRSxPQUFPLEdBQ2Q7O0FBR0gsQUFBQSxnQkFBZ0IsQ0FBQztFQUNmLE9BQU8sRUFBRSxHQUFHO0VBQ1osYUFBYSxFQUFFLElBQUk7RUFDbkIsVUFBVSxFQUFFLEdBQUcsQ0FBQyxHQUFHLENBQUMsSUFBSSxDQUFDLElBQUksQ0FBQyxrQkFBZTtFQUU3QyxnQkFBZ0IsRUFBRSxPQUFPLEdBQzFCOztBQUVELEFBQUEsS0FBSyxDQUFDO0VBQ0osU0FBUyxFQUFFLE1BQU07RUFDakIsV0FBVyxFQWpFRCxRQUFRLEVBQUUsVUFBVSxHQWtFL0IifQ== */
